body {
    padding: 0;
    margin: 0;
    background-color: #5d00ff59;
}

body p{
    font-family: 'Roboto', sans-serif;
}

body a{
    font-family: 'Montserrat', sans-serif;
}

main {
    flex: 1; 
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


