header{
    background-color: blue;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 168, 168);
}

.header-container a{
    padding: 15px;
    margin: 15px;
    background-color: red;
}

.header-switcher{
    background-color: aquamarine;
}