.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff;
    position: relative;
    user-select: none;
}

.header-container.dark-mode {
    background-color: #1a1a1a;
}

.header-container a {
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-container.dark-mode a {
    color: #ffffff;
}

.header-switcher {
    position: absolute;
    cursor: pointer;
    transform: translateY(0%);
    right: 15%;
    font-size: 40px;
}

@media (max-width: 768px) {
    .header-container {
        padding: 5px;
    }

    .header-switcher {
        transform: translateY(0%);
        right: 0%;
        font-size: 25px;
    }

    .header-container a {
        padding: 10px;
        margin: 10px;
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .header-container {
        padding: 15px;
    }

    .header-switcher {
        font-size: 35px;
        transform: translateY(0%);
        right: 10%;
    }

    .header-container a {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .header-switcher {
        font-size: 2vw;
        transform: translateY(0%);
        right: 10%;
    }

    .header-container a {
        font-size: 1.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
