footer {
    padding: 1vw;
    transition: background-color 0.3s ease;
}

footer p{
    font-size: 12px;    
}

.footer-dark-mode {
    background-color: #ffffff;
    color: #000000; 
}

.footer-light-mode{
    background-color: #1a1a1a; 
    color: #ffffff; 
}
